In [16]:
import pandas as pd
import glob
import os
import json

In [27]:
# use your path
path = "data"
# advisable to use os.path.join as this makes concatenation OS independent
all_files = glob.glob(os.path.join(path, "*.csv"))

#create and empty data array for all the data files
data=[]

#add the the year column to each data set
for f in all_files:
    raw_file = pd.read_csv(f)
    #year=f.split(".")[0].split("/")[1] for mac
    year=f.split(".")[0].split("/")[0][5:9] 
    raw_file["year"]=year
    data.append(raw_file)
#concatenate all of the files into one 
allyears_df = pd.concat(data, ignore_index=True)
allyears_df.head()

,rank,country,score,gdp,social_support,life_expectancy,freedom,generosity,corruption,year
0,1,Switzerland,7.59,1.40,1.35,0.94,0.67,0.30,0.42,2015
1,2,Iceland,7.56,1.30,1.40,0.95,0.63,0.44,0.14,2015
2,3,Denmark,7.53,1.33,1.36,0.87,0.65,0.34,0.48,2015
3,4,Norway,7.52,1.46,1.33,0.89,0.67,0.35,0.37,2015
4,5,Canada,7.43,1.33,1.32,0.91,0.63,0.46,0.33,2015

In [8]:
from pymongo import MongoClient

In [9]:
#connect to mongo
client = MongoClient('localhost', 27017)

#create a db and collection
db = client.project_1
collection = db.collection
data_json = json.loads(allyears_df.to_json(orient='records'))

collection.insert(data_json)

NameError: name 'allyears_df' is not defined